<article>
<h1><i class="icon-folder-open"></i>
<span data-ng-repeat="token in pathTokens"><a href="#{{basedir}}/{{token.path}}" style="color:black">{{token.label}}</a><span data-ng-hide="token.last">/</span></span>
<small>Directory</small></h1>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">List</a></li>
      <li data-ng-show="stepLinkEnabled"><a href="" data-ng-click="stepPrev()">&laquo; Prev</a></li>
      <li data-ng-show="stepLinkEnabled"><a href="" data-ng-click="stepNext()">Next &raquo;</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="parsed">

<p><i class="icon-folder-open"></i> <a href="#{{basedir}}/.git/objects/pack">pack</a></p>

<table class="table table-bordered table-hover">
<tbody>
<tr data-ng-repeat="rows in objectTable">
<td data-ng-repeat="cel in rows" data-ng-style="{background: diff['.git/objects/' + cel.basename]}">
  <span data-ng-switch="cel.type">
    <span data-ng-switch-when="empty"><span style="color:#eee">{{cel.basename}}</span></span>
    <span data-ng-switch-default><a href="#{{basedir}}/.git/objects/{{cel.basename}}">{{cel.basename}}</a></span>
  </span>
</td>
</tr>
</tbody>
</table>

      </div>
    </div>
  </div>
</article>
